<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style2.css">
    <meta charset="UTF-8">
    <title>Cart</title>
    <img href="/" src="https://icon-library.com/images/ebay-icon-vector/ebay-icon-vector-1.jpg" class="logo">
</head>
<body>
  <div class="container">
    <div class="image">
 
 <img  class="airforce1" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=90&.v=1617135051000">
    </div>
    <div class="text">
        <h1>iphone 12</h1>
        <h2>total: 824.80$</h2>
        <h2>price:799.90$</h2>
        <h2>6.1-inch and 5.4-inch sizes with identical features, including support for 5G cellular networks, OLED displays, improved cameras, and Apple's A14 chip</h2>
        <h2>shipping to israel cost: 24.90$</h2>
        <h1></h1>
        <button type="button"><a href="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn&ru=https%3A%2F%2Fpay.ebay.com%2Frxo%3Faction%3Dcreate%26rypsvc%3Dtrue%26pagename%3Dryp%26item%3D265738952661%26quantity%3D1%26TransactionId%3D-1">buy now</a> </button>
    </div>
</body>
</html>