<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="UTF-8">
    <meta name="description" content="one of the bigest shops in the world">
    <title>ebay</title>
    <img src="https://icon-library.com/images/ebay-icon-vector/ebay-icon-vector-1.jpg" class="logo">
    

</head>
<body>
 <div class="center_large">
     <button type="button"><a href="/cart">add to cart</a> </button>

 <img src="https://www.time4diamonds.com/media/catalog/product/cache/2ac484e8f868fcb4976dece952273534/_/1/_1_1_116300ar-1.jpg">
 <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=90&.v=1617135051000">
 <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/ebad848a-13b1-46d5-a85e-49b4b6a4953c/air-force-1-le-older-shoe-7XSl5m.png">
 
 </div>
</body>
</html>