<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style2.css">
    <meta charset="UTF-8">
    <title>Product</title>
    <img href="/" src="https://icon-library.com/images/ebay-icon-vector/ebay-icon-vector-1.jpg" class="logo">
    
</head>
<body>
<button type="button"><a href="/cart">add to cart</a> </button>
<div class="container">
    <div class="image">
 
 <img  class="airforce1" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=90&.v=1617135051000">
    </div>
    <div class="text">
        <h1>air force 1</h1>
        <h2>price: 94$</h2>
        <h1></h1>
        <h2>air force 1 best seller</h2>
    </div>
</div>
 
</body>
</html>